<div class= "container"> 
    <div class ="navbar">
        <div class = "logo">
            <button routerLink="/products"><img src="./assets/images/mylogo.png" width="175px"></button>
        </div>
        <nav>
            <ul>                 
                <li><a routerLink="/products">Home</a></li>              
                <li><a routerLink="/product-shop">Shop</a></li>              
                <li><a routerLink="/product">Add Product</a></li>               
                <li><a routerLink="/product-list">List products</a></li>
                <li><a routerLink="/product-control">My products</a></li>               
                <li><a routerLink="/payment">Payment</a></li>    
            </ul>
        </nav>                            
        <span style="margin-right: 40px;"><a routerLink="/login">LOGIN</a></span>
        <button routerLink="/shopping-cart"><img src="./assets/images/cart.png" width="40px" height="40px"></button>
       </div>
</div>