a{
    text-decoration: none;
    color: #555;
}
#shopNow{
        text-decoration: none;
        color: #555;
        text-decoration: underline;
  
}
.equal-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.equal-column-content{
  height: 100%;

}
.addCart{
    background-color: white !important;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
}
 
.addCart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
 
.custom-switch{
    margin-bottom: 15px;
}
.rounded-circle{
    border-color: #555;
}
.badge{
    margin-top: 10px;  
    margin-right: 10px;  
    margin-left: 15px;
    height:25px;
    font-size: 15px;
}

.card-img{
  height: 250px;
  width: 100%;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}