<div class="container center">
    <div class="jumbotron py-3">
        <h4 class="display-6 text-center">Login</h4>
    </div>
    <form #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="UId" [value]="service.formData.UId" />
        <div class="mb-3 form-group">          
            <label for="Username">Username</label>
            <em *ngIf="form.controls.Username?.invalid && form.controls.Username?.touched"> *</em>
            <input type="text" name="Username" #Username="ngModel" [(ngModel)]="service.formData.Username" class="form-control"
                id="Username" placeholder="Username" required>
        </div>
        <div class="mb-3 form-group">          
            <label for="Password">Password</label>
            <em *ngIf="form.controls.Password?.invalid && form.controls.Password?.touched"> *</em>
            <input type="Password" name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password" class="form-control"
                id="Password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-9">
                    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">LOGIN</button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info btn-lg btn-block">REGISTER</button>
                </div>
            </div>
        </div>
    </form>
</div>