<body>
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="./assets/images/poster1.png" alt="First slide">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="media">
            <div class="media-body" style="font-family:system-ui">
              <h5 class="mt-0" style="color: #31376C;">Why Bunnygurumi?</h5>
              Handmade products are produced with organic and anti allergenic cottons. Their softness is best for your child. Bunnygurumi is a platform for you to shop securely from local producers. Our community brings legacy to homemade products.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            <br>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </div>
          </div>
    </div>
    <h1 class="display-5" style="margin-top: 5%; margin-bottom: 3%;">Highlights</h1>
    <div class="list">
        <app-product-shop routeToShop=true></app-product-shop>
    </div>
</div>
</body>