<div class="container center">
    <h1>Payment</h1>
    <p>Please enter your payment details.</p>
    <hr />
    <div class="form">
        <form #form="ngForm" autocomplete="off">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-user-circle"></i>
                        </div>
                    </div>
                    <input class="form-control" placeholder="Card Owner Name" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="far fa-credit-card"></i>
                        </div>
                    </div>
                    <input class="form-control" placeholder="16 Digit Card Number" required maxlength="16"
                        minlength="16">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-7">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                        <input class="form-control" placeholder="MM/YY" required maxlength="5" minlength="5">
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-key"></i>
                            </div>
                        </div>
                        <input type="password" class="form-control" placeholder="CVV" required maxlength="3"
                            minlength="3">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row" style="margin-top: 55px;">
                 
                    <div class="col-md-7">
                        <button (click)="onSubmit()" class="btn btn-info btn-lg btn-block" type="submit"
                            [disabled]="form.invalid">SUBMIT</button>
                    </div>
                    <div class="col-md-3">
                        <button routerLink="/shopping-cart" class="btn btn-info btn-lg btn-block">CANCEL</button>
                    </div>
                    <div class="col-md-2">
                        <button routerLink="/address" class="btn btn-info btn-lg btn-block" type="submit">BACK</button>
                    </div>
                </div>
            </div>
        </form>
    </div>