a{
    text-decoration: none;
    color: #555;
}
#shopNow{
        text-decoration: none;
        color: #555;
        text-decoration: underline;
  
}
.addCart{
    border-width: 0px;
    background-color: white !important;
}
.custom-switch{
    margin-bottom: 15px;
}
.rounded-circle{
    border-color: #555;
}
.badge{
    margin-top: 10px;  
    margin-right: 10px;  
    margin-left: 15px;
    height:25px;
    font-size: 15px;
}

    